.app__laurels_awards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;   
}

.app__laurels_award-card{
    margin-left: 3rem;
}

.app__laurels_awards-card_content{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.app__laurels_award-card img{
    width: auto !important ;
    height: 90px;
}

@media screen and (min-width:1900px) {
    .app__laurels_awards-card{
        min-width: 390px;
    }
}

@media screen and (max-width:450px){
    .app__laurels_awards-card{
        min-width: 100%;
        margin: 1rem 0;
    }
}